# Exploratory Data Analysis ‚Äì Otomoto Used Cars Listings (2000‚Äì2025)

This notebook contains exploratory analysis on ~226,000 used car listings collected from otomoto.pl.  
The goal is to understand market structure, pricing factors, and identify insights useful for car traders and buyers in Poland.

**Dataset**: Scraped in 2025 from otomoto.pl  
**Tools**: Python (pandas, matplotlib, seaborn)

üë®‚Äçüíª Author: ≈Åukasz Pindus

### Note on Equipment Data

The dataset contains a separate column with car equipment information (e.g. navigation, leather seats, parking sensors).  
However, due to the high variability, low standardization, and the exploratory nature of this analysis, the equipment data was excluded from the initial scope.

Future versions of this project may include:
- standardization of equipment categories,
- analysis of premium features and their impact on price,
- extraction of feature importance using NLP or one-hot encoding.

The current analysis focuses on structured numeric and categorical attributes only (brand, model, year, price, mileage, fuel, gearbox, etc.).

In [14]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sqlalchemy import create_engine, text
sns.set(style="whitegrid")

In [15]:
engine = create_engine("postgresql+psycopg2://postgres:1234@localhost:5432/car_database")
text_query = """SELECT * FROM listings"""

df = pd.read_sql(text_query, engine)
df.head()

,id,local_id,make,model,version,color,number_of_doors,number_of_seats,production_year,generation,...,range_km,engine_capacity_cm3,power_hp,co2_emissions_gpkm,urban_fuel_consumption_l_per_100km,extraurban_fuel_consumption_l_per_100km,mileage_km,average_energy_consumption_kwh_per_100km,battery_health_percent,max_electric_power_hp
0,1,1,Ford,Kuga,None,B≈Çƒôkitny,5.0,5.0,2019,II (2012-),...,NaN,None,120.0,143.0,7.8,5.3,107345,NaN,NaN,NaN
1,2,2,Citro√´n,C5 Aircross,2.0 BlueHDi C-Series EAT8,Szary,5.0,NaN,2019,None,...,NaN,None,178.0,NaN,NaN,NaN,158000,NaN,NaN,NaN
2,3,3,Mercedes-Benz,CLA,220 4-Matic AMG Line 7G-DCT,Szary,4.0,5.0,2019,II (2019-),...,NaN,None,190.0,149.0,8.9,5.2,81000,NaN,NaN,NaN
3,4,4,Jaguar,XF,20d Portfolio,Be≈ºowy,4.0,5.0,2019,X260 (2015-),...,NaN,None,180.0,135.0,6.4,4.4,80000,NaN,NaN,NaN
4,5,5,Peugeot,508,1.6 PureTech GT S&S EAT8,Szary,5.0,5.0,2019,II (2018-),...,NaN,None,225.0,119.0,6.7,4.4,120000,NaN,NaN,NaN

## Basic Data Overview

In [11]:
print("Shape:", df.shape)
df.info()

Shape: (226088, 45)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 226088 entries, 0 to 226087
Data columns (total 45 columns):
 #   Column                                    Non-Null Count   Dtype
---  ------                                    --------------   -----
 0   id                                        226088 non-null  int64
 1   local_id                                  226088 non-null  int64
 2   make                                      226086 non-null  object
 3   model                                     226088 non-null  object
 4   version                                   154783 non-null  object
 5   color                                     226088 non-null  object
 6   number_of_doors                           225263 non-null  float64
 7   number_of_seats                           211394 non-null  float64
 8   production_year                           226088 non-null  int64
 9   generation                                163504 non-null  object
 10  fuel_type                                 226088 non-null  object
 11  body_type                                 226088 non-null  object
 12  color_type                                134900 non-null  object
 13  transmission                              225998 non-null  object
 14  drive_type                                212954 non-null  object
 15  country_of_origin                         155443 non-null  object
 16  registration_number                       0 non-null       object
 17  condition                                 226088 non-null  object
 18  accident_free                             138164 non-null  object
 19  first_registration_date                   0 non-null       object
 20  registered_in_poland                      142236 non-null  object
 21  first_owner                               78587 non-null   object
 22  serviced_at_authorized_station            124453 non-null  object
 23  has_registration_number                   173869 non-null  object
 24  charging_connector_type                   382 non-null     object
 25  number_of_engines                         2046 non-null    float64
 26  brake_energy_recovery                     3747 non-null    object
 27  number_of_batteries                       256 non-null     float64
 28  price                                     226088 non-null  float64
 29  currency                                  226088 non-null  object
 30  price_level                               0 non-null       object
 31  advert_date                               174360 non-null  datetime64[ns]
 32  advert_id                                 174360 non-null  float64
 33  description                               182806 non-null  object
 34  battery_capacity_kwh                      2108 non-null    float64
 35  range_km                                  2214 non-null    float64
 36  engine_displacement_cm3                   0 non-null       object
 37  power_hp                                  225830 non-null  float64
 38  co2_emissions_gpkm                        99023 non-null   float64
 39  urban_fuel_consumption_l_per_100km        113250 non-null  float64
 40  extraurban_fuel_consumption_l_per_100km   97887 non-null   float64
 41  mileage_km                                226088 non-null  int64
 42  average_energy_consumption_kwh_per_100km  1603 non-null    float64
 43  battery_health_percent                    140 non-null     float64
 44  max_electric_power_hp                     2608 non-null    float64
dtypes: datetime64[ns](1), float64(15), int64(4), object(25)
memory usage: 77.6+ MB

### Basic Statistics for Numeric Columns

In [12]:
df.describe()

,id,local_id,number_of_doors,number_of_seats,production_year,number_of_engines,number_of_batteries,price,advert_date,advert_id,battery_capacity_kwh,range_km,power_hp,co2_emissions_gpkm,urban_fuel_consumption_l_per_100km,extraurban_fuel_consumption_l_per_100km,mileage_km,average_energy_consumption_kwh_per_100km,battery_health_percent,max_electric_power_hp
count,226088.000000,226088.000000,225263.000000,211394.000000,226088.000000,2046.000000,256.000000,2.260880e+05,174360,1.743600e+05,2108.000000,2214.000000,225830.000000,99023.000000,113250.000000,97887.000000,2.260880e+05,1603.000000,140.000000,2608.000000
mean,113044.500000,113044.500000,4.736597,5.057901,2016.662968,1.205767,3.164062,9.089232e+04,2025-03-31 05:03:41.988299776,6.134372e+09,71.225142,470.364950,170.387894,156.088591,7.520987,5.011073,1.323399e+05,17.154367,96.835714,146.950920
min,1.000000,1.000000,2.000000,1.000000,2000.000000,1.000000,1.000000,4.000000e+02,2024-07-24 22:16:00,6.012393e+09,1.000000,2.000000,1.000000,0.150000,2.000000,2.000000,1.000000e+00,0.140000,12.000000,3.000000
25%,56522.750000,56522.750000,5.000000,5.000000,2013.000000,1.000000,1.000000,3.280000e+04,2025-03-27 12:40:00,6.133941e+09,50.000000,320.000000,116.000000,120.000000,5.700000,4.000000,5.620000e+04,15.000000,96.000000,72.000000
50%,113044.500000,113044.500000,5.000000,5.000000,2018.000000,1.000000,1.000000,6.320000e+04,2025-04-05 17:54:00,6.135922e+09,70.000000,420.000000,150.000000,139.000000,7.000000,4.900000,1.255940e+05,16.200000,99.000000,113.000000
75%,169566.250000,169566.250000,5.000000,5.000000,2021.000000,1.000000,1.000000,1.129000e+05,2025-04-10 18:57:00,6.136443e+09,82.000000,503.000000,190.000000,162.000000,8.500000,5.600000,1.931478e+05,18.000000,100.000000,170.000000
max,226088.000000,226088.000000,6.000000,9.000000,2025.000000,4.000000,96.000000,3.500000e+06,2025-04-15 22:58:00,6.136859e+09,1078.000000,134000.000000,2737.000000,153144.000000,34.500000,45.000000,2.066593e+06,195.000000,100.000000,1020.000000
std,65266.128168,65266.128168,0.652953,0.729591,5.523754,0.419787,12.033468,1.074911e+05,NaN,3.938532e+06,61.720656,2842.027817,89.628012,1113.248730,2.839097,1.372863,9.178470e+04,8.711312,9.353652,122.287361

### Null Values (Top 10 columns)

In [16]:
df.isnull().sum().sort_values(ascending=False).head(10)

registration_number                         226088
price_level                                 226088
engine_capacity_cm3                         226088
first_registration_date                     226088
battery_health_percent                      225948
number_of_batteries                         225832
charging_connector_type                     225706
average_energy_consumption_kwh_per_100km    224485
number_of_engines                           224042
battery_capacity_kwh                        223980
dtype: int64